.task-comp {
  margin: 10px;
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Adjust the alpha value as needed */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
  padding: 10px;
  width: 800px;
}

.task-comp:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.task-top {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.task-top-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-top-buttons button {
  border-radius: 10px;
  border: none;
  top: 0;
  margin-bottom: 50px;
  font-size: 1rem;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin-right: 10px;
}

.modify{
  width: 20px;
  height: 20px;
}

.task-top-buttons button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.task-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.task-title {
  font-size: 2rem;
  font-weight: 700;
  color: #000;
  text-align: center;
}

.task-desc {
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
  text-align: center;
}

.task-status {
  font-size: 1rem;
  font-weight: 700;
  color: #000;
  text-align: center;
}


.task-status img{
    width: 50px;
    height: 50px;
    margin-bottom: -20px;
}
