.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.home-body {
  background-color: rgba(78, 78, 78, 0.4);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  max-width: 1000px;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.create-task {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
  display: block;
  background: linear-gradient(
    90deg,
    rgba(33, 150, 243, 1) 0%,
    rgba(0, 188, 212, 1) 100%,
    rgba(238, 130, 238, 1) 100%
  );
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
  width: 200px;
  align-items: center;
}

.home-body a:hover {
  transform: scale(1.1);
}

.not-logged-in {
  max-width: 500px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
