.create-task-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.create-task-card{
    width: 100%;
    max-width: 500px;
    background-color: rgba(255, 255, 255, 0.8) ;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
}

.create-task-title{
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.create-task-input{
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.create-task-input label{
    margin-bottom: 0.25rem;
}

.create-task-input input{
    width: 50%;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.create-task-input input:focus{
    outline: none;
    border-color: #2e8ece;
}

.create-task-input textarea{
    width: 50%;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.create-task-input textarea:focus{
    outline: none;
    border-color: #2e8ece;
}

.create-task-input select{
    width: 50%;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.create-task-input select:focus{
    outline: none;
    border-color: #2e8ece;
}

.create-task-submit{
    width: 50%;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #2e8ece;
    color: #fff;
    cursor: pointer;
}

.create-task-submit:hover{
    background-color: #2e8ece;
    color: #fff;
}