.navbar {
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Adjust the alpha value as needed */
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
}

.navbar a {
  color: #2e8ece;
  text-decoration: none;
}

.left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 49%;
}

.middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar a:hover {
  color: #ff0000;
}

.navbar a:active {
  color: #00ff00;
}

.logout-btn {
  background-color: #2e8ece;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.logout-btn:hover {
  transform: scale(1.05);
}
